<!DOCTYPE html>
<html>
<head lang="en">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Welcome on Michael's development website. On this site you will find updates and documentation for my open source projects. All the code and samples are hosted on my Github repositories, my focus is on .Net development, caching, mapping, websites, ASP.NET and JavaScript/Typescript. @Common.CacheManagerHeaderDescription" />
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="09AD06AB47F6979DDA88FDF70E5C9274" />
    <meta name="google-site-verification" content="6POSce8bTOLGA_BWkSFpUN-8ZLGidab2X0VlMsJonMM" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("Nav")
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; Copyright @DateTime.Now.Year - Michael Conrad</p>
    </footer>
    <a href="#" class="back-to-top" style="display: inline;">
        <i class="fa fa-arrow-circle-up"></i>
    </a>
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    
    @Html.Partial("_GoogleTracking")
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@type":"Product","name":"Cache Manager","description":"@Common.CacheManagerHeaderDescription","url":"http://mconrad.azurewebsites.net/","sameAs":["http://michaco.github.io/CacheManager","http://michaco.github.io/Documentation/CacheManager/Help"]}
    </script>
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@type":"Person","name":"Michael Conrad","url":"http://mconrad.azurewebsites.net/","sameAs":["https://twitter.com/micha_conrad","https://www.youtube.com/channel/UCszMc4v0IwG14tf5NGhk4AA","https://plus.google.com/107267611548768829420"]}
    </script>
</body>
</html>
