<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="Home">
                <i class="fa fa-windows"></i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Blog
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="@Url.Action("Blog", "Documentation", new { Id = "aspnet_5_accessing_environment_variables" })">ASP.NET 5 Environment Variables</a></li>
					</ul>
				</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        CacheManager
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("CacheManager", "Home")">Readme</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_getting_started" })">Getting Started</a></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_configuration" })">Configuration</a></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_architecture" })">Features and Architecture</a></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_update" })">Update operations</a></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_synchronization" })">Cache Synchronization</a></li>
                        <li><a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_backed_todo_web_app" })">Sample: Todo website</a></li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/MichaCo/CacheManager">Source Code</a></li>
                        <li class="divider"></li>
                        <li><a href="http://michaco.github.io/Documentation/CacheManager/Help">Html Help</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("About", "Home")">About</a></li>
            </ul>
        </div>
    </div>
</nav>