@{
    ViewBag.Title = "Welcome to Michael's development website";
}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="tile-title">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 tile-col">
                <div class="tile-4-4 tile tile-magenta">
                    <div>
                        <h1>
                            Hi, I'm Michael <br />and I'm a developer!<br />
                        </h1>
                        <p>
                            On this site you will find updates and documentation for my open source projects,
                            <br />
                            Blog posts and articles.
                        </p>
                        <p>
                            All the code and samples are hosted on <a href="https://github.com/MichaCo">my Github repositories</a>, my focus is on .Net development, caching, mapping, websites, ASP.NET and JavaScript/Typescript.
                        </p>
                    </div>
                </div>
            </div>
            @* <!--testing only -->
                <div class="col-sm-6 col-xs-12 tile-col">
                    <div class="tile-1-1 tile tile-darkgray">s</div>
                    <div class="tile-2-1 tile tile-magenta">d</div>
                    <div class="tile-1-1 tile tile-red">a</div>
                    <div class="tile-1-1 tile tile-darkgray">v</div>
                    <div class="tile-2-1 tile tile-magenta">
                        <h1>h1h1h1</h1>
                        <p>ppp</p>
                    </div>
                    <div class="tile-1-1 tile tile-red"></div>
                    <div class="tile-2-2 tile tile-darkgray">
                        <h1>h1h1h1</h1>
                        <p>ppp</p>
                    </div>
                    <div class="tile-1-1 tile tile-magenta"></div>
                    <div class="tile-1-1 tile tile-red"></div>
                    <div class="tile-1-1 tile tile-magenta"></div>
                    <div class="tile-1-1 tile tile-red"></div>
                </div>*@
        </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 ">
        <div class="tile-title">Projects</div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 tile-col">
                <div class="tile-4-4 tile tile-purple2">
                    <div>
                        <h1>
                            CacheManager
                        </h1>
                        <div>
                            @Common.CacheManagerDescription
                            <hr />
                            The CacheManager source code can be found <a href="https://github.com/MichaCo/CacheManager">on Github</a>.
                            <br />For documentation, you can use the menu or the tiles below.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 tile-col">
                <a href="@Url.Action("CacheManager", "Home")">
                    <div class="tile-2-1 tile tile-organge">
                        <i class="fa fa-file-text"></i>
                        <span>Readme</span>
                    </div>
                </a>

                <a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_architecture" })" title="Features and Architecture">
                    <div class="tile-1-1 tile tile-purple">
                        <i class="fa fa-code"></i>
                        <span>Features</span>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_update" })" title="Update operations">
                    <div class="tile-1-1 tile tile-organge">
                        <i class="fa fa-repeat"></i>
                        <span>Update</span>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_getting_started" })" title="Getting started">
                    <div class="tile-2-1 tile tile-green">
                        <i class="fa fa-rocket"></i>
                        <span>Getting Started</span>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_synchronization" })" title="Cache Synchronization">
                    <div class="tile-2-1 tile tile-red">
                        <i class="fa fa-refresh"></i>
                        <span>Cache Synchronization</span>
                    </div>
                </a>
                <a href="http://michaco.github.io/Documentation/CacheManager/Help" title="Generated API Html Help">
                    <div class="tile-1-1 tile tile-darkgray">
                        <i class="fa fa-question-circle"></i>
                        <span>Html Help</span>
                    </div>
                </a>
                <div class="tile-1-1 tile"></div>
                <a href="@Url.Action("Index", "Documentation", new { Id = "cachemanager_backed_todo_web_app" })" title="Todo web app sample">
                    <div class="tile-2-2 tile tile-blue">
                        <div>
                            <h3>Todo Sample</h3>
                            Writing a single page To-Do web app.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 ">
        <div class="tile-title">Follow me</div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 tile-col">
                <a href="https://github.com/MichaCo">
                    <div class="tile-2-2 tile tile-green">
                        <i class="fa fa-github"></i>
                        <span>Follow me on Github</span>
                    </div>
                </a>
                <a href="https://twitter.com/micha_conrad">
                    <div class="tile-2-2 tile tile-blue">
                        <i class="fa fa-twitter"></i>
                        <span>Follow me on Twitter</span>
                    </div>
                </a>
                <div class="tile-1-1 tile tile-darkgray"></div>
                <div class="tile-2-1 tile tile-magenta"></div>
                <div class="tile-1-1 tile tile-red"></div>
            </div>
            <div class="col-sm-6 col-xs-12 tile-col">
                <div class="tile-4-4 tile-col" style="height:300px; margin-top:3px; margin-right:3px;">
                    <a class="twitter-timeline" href="https://twitter.com/micha_conrad" data-widget-id="584706540524990464">Tweets von @@micha_conrad </a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>